.item {
    width: 400px;
    box-shadow: 3px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.item p{
    margin: 8px 0px;
    font-size: 18px;
    color: #979797;
}

.item-prices{
    display: flex;
    gap: 50px;
}

.item-price-new{
    color: #ff595e;
    font-size: 20px;
    font-weight: 600;
}
.item-price-old{
    color: #e67373;
    font-size: 20px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.5s;
}